<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>shopping</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddGoodsServlet</display-name>
    <servlet-name>AddGoodsServlet</servlet-name>
    <servlet-class>com.wm.AddGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGoodsServlet</servlet-name>
    <url-pattern>/AddGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteGoodsServlet</display-name>
    <servlet-name>DeleteGoodsServlet</servlet-name>
    <servlet-class>com.wm.DeleteGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGoodsServlet</servlet-name>
    <url-pattern>/DeleteGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmptyCartServlet</display-name>
    <servlet-name>EmptyCartServlet</servlet-name>
    <servlet-class>com.wm.EmptyCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmptyCartServlet</servlet-name>
    <url-pattern>/EmptyCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnquireGoodsServlet</display-name>
    <servlet-name>EnquireGoodsServlet</servlet-name>
    <servlet-class>com.wm.EnquireGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnquireGoodsServlet</servlet-name>
    <url-pattern>/EnquireGoodsServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FirstFilter</display-name>
    <filter-name>FirstFilter</filter-name>
    <filter-class>com.wm.FirstFilter</filter-class>
    <init-param>
      <param-name>excluded_servlet_login</param-name>
      <param-value>LoginServlet</param-value>
    </init-param>
    <init-param>
      <param-name>excluded_servlet_logout</param-name>
      <param-value>LogoutServlet</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>FirstFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.wm.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.wm.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateGoodsServlet</display-name>
    <servlet-name>UpdateGoodsServlet</servlet-name>
    <servlet-class>com.wm.UpdateGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateGoodsServlet</servlet-name>
    <url-pattern>/UpdateGoodsServlet</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>c</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>fmt</taglib-uri>
      <taglib-location>/WEB-INF/fmt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>fn</taglib-uri>
      <taglib-location>/WEB-INF/fn</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>sql</taglib-uri>
      <taglib-location>/WEB-INF/sql.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>x</taglib-uri>
      <taglib-location>/WEB-INF/x.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>